* {
    font-family: "Lucida Console", Lucida, monospace;
    font-weight: bold;
    text-transform: uppercase
}

body {
    background-color: #FEADD8;
}

.topnav {
    display: flex;
    justify-content: center;
}
.topnav a{
    color: white;
    padding: 40px;
    font-size: 30px;
    text-decoration: wavy;
    text-shadow: 2px 2px #60DFF9;
}

.topnav a:hover {
    color: #ff0099;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px #60DFF9;
}

h2 {
    display: flex;
    justify-content: center;
    background-color: #3DF2BB;
    width: 200px;
    margin:auto;
    box-shadow: 5px 5px #35D1A2;
    border-radius: 8px;
    color: #ff0099;
    text-shadow: 2px 2px white;
}

h3 {
    display: flex;
    justify-content: center; 
}

#About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

#profile {
    max-width: 200px;
    border: 20px ridge #FE79DF;
    margin: auto;
}

#padding {
    padding: 20px;
}

#bio {
    background-color: #3BD1F6;
    width: 600px;
    margin:auto;
    box-shadow: 5px 5px #1BA9CD;
    border-radius: 8px;
    color: black;
    padding: 1%;
}

#digital-art {
    width: 20%;
}

.websites {
    display: flex;
    justify-content: center;
}

h4 {
    display: flex;
    justify-content: center;
}

.website-assets {
    padding-left: 130px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

#website-assets:hover {
    opacity: 30%;
}

#website-assets {
    max-width: 80%;
    
}

.digital-art {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 20px;
}

#photography {
    width: 30%
    
}

.photography {
    padding: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

@media screen and (max-width: 992px) {
    #website-assets {
        max-width: 50%
    }
}